body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

/* ......................1st   SECTION.......... */
.header-section {
    background-image: url("images/donation13.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-section div {
    text-align: center;
    padding: 10% 0;
    margin: 0 20%;
    color: white;
}

.header-section div p {
    margin-bottom: 50px;
}

#donate-text-field {
    text-align: center;
    font-size: medium;
    padding: 5px;
    outline: 0;
    width: 50%;
    border-width: 0 0 2px;
    border-color: rgb(215, 215, 228);
}

/* ...............................BUTTON....................*/
.link-button {
    text-decoration: none;
    padding: 10px 15px;
    background-color: tomato;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: large;
}

/*............... 2nd and 3rd section  : decoration.............*/

.section-donation {
    display: block;
    text-align: center;
    padding: 20px 10%;
}

.section-donation div {
    margin: 40px 0;
}

/*.............2nd SECTION: "Donate Today" amount part.........*/
.amount {
    display: flex;
    justify-content: center;
}

.amount h3 {
    width: 150px;
    padding: 30px 5px;
    margin: 5px;
    border-radius: 10px;
}

.amount-box {
    background-color: rgb(249, 248, 247);
}

.highlighed-color {
    background-color: rgb(250, 212, 206);
}

/*..............3rd SECTION  : FOOD SHELTER EDUCATION..........*/
.food-shelter-edu {
    display: flex;
}

.food-shelter-edu div {
    text-align: left;
    margin: 10px;
    padding: 5% 2% 2%;
    border-radius: 5px;
}

.food {
    background-color: aliceblue;
}

.shelter {
    background-color: rgb(255, 240, 251);
}

.edu {
    background-color: beige;
}

/*---------------4th Section : Extra--------------*/
.bd-flood {
    display: flex;
    margin: 25px;

}

.half-width {
    display: block;
    width: 30%;
    margin: 0 2%;
}

.some-img-bd {
    margin-top: 0;
    padding: 0;
}

.half-width img {
    width: 100%;
    height: 200px;
}

/*..........5th Section: Form...............*/
.form-area {
    padding: 10%;
}

.email-field {
    text-decoration: none;
    padding: 10px 15px;
    background-color: white;
    border-radius: 5px;
    color: black;
    font-weight: 700;
    font-size: large;
    margin: 0;
    font-weight: 50;
}

.input-border {
    border: none;
    margin: none;
}



/*..........................FOOTER...........*/

footer {
    background-color: black;
    margin: 0;
    text-align: center;
    width: 100%;
    position: absolute;
    font-family: 'The Nautigal', cursive;

}

footer h2 {
    color: brown;
    margin-bottom: 0;
    font-weight: 900;

}

footer h5 {

    color: rgba(241, 242, 243, 0.656);
    font-family: 'Poppins', sans-serif;
    font-weight: 50;
    margin-top: 0;
}