body {
    margin: 0;
    font-family: 'Poppins', sans-serif;

}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;

}

h3 {
    font-size: 30px;

}

.header-section {
    background-image: url("images/donation13.jpg");
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header-section div {
    text-align: center;
    padding: 10% 0;

    margin: 0 20%;
    color: white;


}

.header-section div p {
    margin-bottom: 50px;
}


.link-button {
    text-decoration: none;
    padding: 10px 15px;
    background-color: tomato;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: large;
}

.section-donation {
    display: block;
    text-align: center;
    padding: 20px 10%;
}

.section-donation div {
    margin: 40px 0;
}

.amount {
    display: flex;
    justify-content: center;
}

.amount h3 {
    width: 150px;
    padding: 30px 5px;

    margin: 5px;
    border-radius: 10px;


}

.amount-box {
    background-color: rgb(249, 248, 247);

}

.highlighed-color {
    background-color: rgb(250, 212, 206);

}

.food-shelter-edu {
    display: flex;
}

.food-shelter-edu div {
    text-align: left;
    margin: 10px;
    padding: 5% 2% 2%;
    border-radius: 5px;
}

.food {
    background-color: aliceblue;
}

.shelter {
    background-color: rgb(255, 240, 251);

}

.edu {
    background-color: beige;

}



footer {
    background-color: black;
    margin: 0;
    text-align: center;
    width: 100%;
    position: absolute;
}

footer h2 {
    color: brown;
    margin-bottom: 0;
}

footer h4 {
    color: white;
    font-weight: 100;
    margin-top: 0;
}